{% extends "karakter/base.html" %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="mb-6">
        <h2 class="text-3xl font-semibold">Hi <div class="text-3xl inline">{{ user.username }}</div>!</h2>
        <p class="text-sm font-light">You can tell us a little bit more about yourself here. But really this
            is just a demo of how to use the profile page. You should use other apps to interact with lok!</p>
        </p>
    </div>


    <div class="mb-4">
        <form method="POST">
            {% csrf_token %}
            {% for field in profile_form %}
            {% include "./field.html" %}
            {% endfor %}

            <button
                class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Save changes
            </button>
        </form>
    </div>
</div>
{% endblock %}