{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="block-center">
        {% if not error %}
            <form id="authorizationForm" method="post">
                <h3 class="block-center-heading text-3xl">{% trans "Authorize" %} Application?</h3>
                <h2 class="block-center-heading text-xl"></h2>{{ application.client.release.app.identifier }}:{{ application.client.release.version }}
                <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
                {% csrf_token %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <p class="font-light text-sm my-2">{% trans "The Application requires the following permissions" %}</p>
                <ul class="list-disc">
                    {% for scope in scopes_descriptions %}
                        <li class="">{{ scope }}</li>
                    {% endfor %}
                </ul>

                {{ form.errors }}
                {{ form.non_field_errors }}

                <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
                <p class="font-light text-sm my-2">{% trans "Please revise carefully the permissions above" %}</p>
                <div class="control-group">
                    <div class="controls flex flex-row w-full">
                        <input type="submit" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 cursor-pointer flex-1 transition transition-all" value="{% trans 'Cancel' %}"/>
                        <input type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2  cursor-pointer flex-1 transition transition-all" name="allow" value="{% trans 'Authorize' %}"/>
                    </div>
                </div>
            </form>

        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}
    </div>
{% endblock %}
